<%= form_for(:user, url: user_login_path, method: :post) do |f| %>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label 'User UID' %>
      <%= f.text_field :uid, autofocus: true, class: 'form-control input-lg' %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group text-center">
      <%= f.submit 'Login', class: 'btn btn-primary btn-lg', id: 'update-button' %>
    </div>
  </div>
<% end %>
