<p>Hey <%= @user.first_name %>,</p>
<br/>
<p>Welcome to Grouvly, the place where we embrace the adventure of life - the excitement of meeting new people and the possibilities that come from the connections that you make!</p>
<br/>
<p>Book a Grouvly today!</p>
<br/>
Cheers,
<br/>
Grouvly
<br/>
