.block-secure-payment
  h5= t('user.payments.secure_payment') 

  span[id='siteseal']
    script[type='text/javascript' src='https://seal.godaddy.com/getSeal?sealID=eIuxPrLMzNJkUJHasSJeiTxDkReB8Ini9glv46N4yQ5eb6ySybMxQMoP']
