- campaign_id ||= '4128'

/iframe[frameborder='0' align='middle' src='https://www.ref-r.com/campaign_user/c?brandid=4346&campaignid=#{campaign_id}&bid_e=46CBEA98222F20C4FD628B2475220848&t=420&email=#{current_user.email_address}&fname=#{current_user.first_name}&shareLink=#{url}']
