<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<title><%= APP_CONFIG['default_title'] %></title>

<style type="text/css">
  /* iPad Text Smoother */
  div, p, a, li, td { -webkit-text-size-adjust:none; }

  /* This is the color to change the all the mind green content:  #67cbb0; */
  .ReadMsgBody {
    width: 100%; background-color: #ffffff;
  }

  .ExternalClass {
    width: 100%; background-color: #ffffff;
  }

  body {
    width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;
  }

  html {
    width: 100%;
  }

  @font-face {
    font-family: 'proxima_novalight';
    src: url('font/proximanova-light-webfont.eot');
    src: url('font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/proximanova-light-webfont.woff') format('woff'),
    url('font/proximanova-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('font/proximanova-regular-webfont.eot');
    src: url('font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/proximanova-regular-webfont.woff') format('woff'),
    url('font/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'nexa_boldregular';
    src: url('font/nexa_bold-webfont.eot');
    src: url('font/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/nexa_bold-webfont.woff') format('woff'),
    url('font/nexa_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'proxima_novasemibold';
    src: url('font/proximanova-semibold-webfont.eot');
    src: url('font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/proximanova-semibold-webfont.woff') format('woff'),
    url('font/proximanova-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  table {
    font-size: 16px; font-family: 'proxima_nova_rgregular', Myriad Pro, helvetica, Arial, sans-serif; color: #9b9b9b;
  }

  .imgFull img {
    width: 280px; height: auto; border-radius: 3px!important;
  }

  .smallImg img {
    width: 175px; height: auto; border-radius: 3px!important;
  }

  .headerImg img {
    width: 590px; height: auto; border-radius: 3px!important;
  }

  .img-responsive {
    width: 100%; height: auto; 
  }
  
  hr { 
    border: none; border-bottom: 1px solid #e3e3e3;
  }

  /* With This Code you make a Newsletter Responsive */
  @media only screen and (max-width: 640px) {
    table[class=full] { 
      width: 100%; clear: both; 
    }

    table[class=mobile] { 
      width: 100%; padding-left: 30px; padding-right: 30px; clear: both; 
    }

    table[class=fullCenter] { 
      width: 100%; text-align: center!important; clear: both; 
    }

    td[class=fullCenter] { 
      width: 100%; text-align: center!important; clear: both; 
    }

    table[class=imgFull] {
      width: 100%!important; text-align: center!important; clear: both;
    }

    table[class=smallImgFull] {
      width: 175px!important; text-align: center!important; clear: both;
    }

    table[class=headerImg] {
      width: 100%!important; padding-left: 30px; padding-right: 30px; text-align: center!important; clear: both;
    }

    .imgFull img {
      border-radius: 3px!important; width: 100%!important; height: auto;
    }

    .smallImgFull img {
      border-radius: 3px!important; width: 100%!important; height: auto;
    }

    .headerImg img {
      width: 100%!important; height: auto!important; border-radius: 3px!important;
    }

    img[class=headerImg] {
      width: 100%!important; height: auto!important;
    }

    td[class=height40] {
      height: 50px!important;
    }
  }

  /* This Code is Extra for Mobile Version */   
  @media only screen and (max-width: 479px) {
    img[class=fullImage] { 
      width: 100%!important; height: auto!important; 
    }

    .imgFull img {
      width: 100%!important; border-radius: 3px!important;
    }

    .smallImgFull img {
      width: 100%!important; border-radius: 3px!important;
    }

    table[class=imgFull] {
      width: 100%!important; text-align: left!important; clear: both;
    }

    table[class=imgFull] {
      width: 100%!important; text-align: center!important; clear: both;
    }

    table[class=smallImgFull] {
      width: 100%!important; text-align: center!important; clear: both;
    }
  }
</style>
