- content_for :title do
  = t('terms.privacy_policy')

.container.block-h1
  h1= t('terms.privacy_policy').upcase
  .lead= t('pages.privacy_policy.grouvly_pte_ltd')

.background-gray
  .container
    .block-form.col-lg-12
      p Privacy Policy governs the manner in which Port VGrouvly Pte Ltd collects, uses, maintains and
        discloses information collected from users (each, a User) of the www.port-vgrouvly.com website
        (Site) and its services (Service). This privacy policy applies to the Site and all
        services offered by Port VGrouvly Pte Ltd. We receive information from you from various sources
        when you register for the site and the services, your use of the services in general and
        from third party websites and services. When you use the site and services, you are
        consenting to the collection, transfer, manipulation, storage, disclosure and other uses
        of your information as described in this Privacy Policy.

      h3 Personal identification information

      p We may collect and/or display personal identification information from Users in a
        variety of ways, including, but not limited to, when Users visit our site, register on
        the site, place an order, respond to a survey, fill out a form, and in connection with
        other activities, services, features or resources we make available on our Site. Users
        may be asked for, as appropriate, name, email address, phone number, credit card
        information. Users may, however, visit our Site anonymously. We will collect personal
        identification information from Users only if they voluntarily submit such information to
        us.

      p We collect the following information, which enables us to personalize, improve and
        continue to operate our site and services. In connection with certain aspects of the
        Services, we may request, collect and/or display some of your Personal Information. We
        collect the following types of information from our users:

      p
        u Personal Information:
        | <br/>
        | When you create an Account on our site, you will provide information that could be
          Personal Information, such as your username, password and email address. You
          acknowledge that this information may be personal to you, and by creating an account on
          our Site and providing Personal Information to us, you allow others, including us, to
          identify you and therefore may not be anonymous. We may use your contact information to
          send you information about our Services, but only rarely when we feel such information
          is important. You are able to Unsubscribe from these messages at any anytime through
          your account settings.

      p
        u User Content:
        | <br/>
        | Features of our site allow you to provide content to the site, such as written
          comments and images. We may retain all content submitted by you to the Services
          indefinitely, even after you terminate your account. We may continue to disclose such
          content to third parties in a manner that does not reveal Personal Information, as
          described in this Privacy Policy.

      p
        u Financial Information:
        | <br/>
        | The Site does not collect financial information, such as your payment method (valid
          credit card number, type, expiration date or other financial information); that
          information is collected and stored by our third party payment processing company (the
          "Payment Provider"), and use and storage of that information is governed by the Payment
          Processor’s applicable terms of service and privacy policy.

      p
        u Non-personal identification information:
        | <br/>
        | We may collect non-personal identification information about Users whenever they
          interact with our Site. Non-personal identification information may include the browser
          name, the type of computer, IP address and technical information about Users means of
          connection to our Site, such as the operating system and the Internet service providers
          utilized and other similar information.

      p
        u Web browser cookies:
        | <br/>
        | Site may use cookies to enhance User experience. User's web browser places cookies on
          their hard drive for record-keeping purposes and sometimes to track information about
          them. User may choose to set their web browser to refuse cookies, or to alert you when
          cookies are being sent. If they do so, note that some parts of the Site may not
          function properly. This information is used for fighting spam/malware and also to data
          collection for analytics and statistical purposes and acknowledge what our users are
          doing on our site (e.g., time on the site, links clicked)

      p
        u Public Information about your activity on our Site:
        | <br/>
        | Your activity on and through our Site is public by default. This may include, but is
          not limited to, content you have posted publicly on the Site or otherwise through our
          Service. Registered users may have some of this information associated with their
          Accounts. If you choose to provide Personal Information using certain public features
          of our Service, then that information is governed by the privacy settings of those
          particular features and may be publicly available. Individuals reading such information
          may use or disclose it to other individuals or entities without our control and without
          your knowledge, and search engines may index that information. We therefore urge you to
          think carefully about including any specific information you may deem private in
          content that you create or information that you submit through the Services.

      p
        u Information You Elect to Share:
        | <br/>
        | You may access other Third Party Services through the Services, for example by
          clicking on links to those Third Party Services from within the Site. We are not
          responsible for the privacy policies and/or practices of these Third Party Services and
          you are responsible for reading and understanding those Third Party Services’ privacy
          policies. This Privacy Policy only governs information collected on the Services.

      p
        u User Profile Information:
        | <br/>
        | Profile information including your username and other information you enter may be
          displayed to other users to facilitate user interaction within the Services. We will
          not directly reveal user email addresses to other users.

      p
        u Information Shared with Our Partners:
        | <br/>
        | We employ and contract with people and other entities (i.e Venue Partners) that
          perform certain tasks on our behalf and who are under our control (our Partners). We
          may need to share Personal Information with our Partners in order to provide products
          or services to you (i.e. making a table reservation on your name). Unless we tell you
          differently, our Partners do not have any right to use Pezrsonal Information or other
          information we share with them beyond what is necessary to assist us. You hereby
          consent to our sharing of Personal Information with our Partners.

      p
        u Information Disclosed Pursuant to Business Transfers:
        | <br/>
        | In some cases, we may choose to buy or sell assets. In these types of transactions,
          user information is typically one of the transferred business assets. Moreover, if we,
          or substantially all of our assets, were acquired, or if we go out of business or enter
          bankruptcy, user information would be one of the assets that is transferred or acquired
          by a third party. You acknowledge that such transfers may occur, and that any acquirer
          of our assets or us may continue to use your Personal Information as set forth in this
          policy.

      h3 How Secure is Information About Me?

      p We work to protect the security of your information during transmission by using Secure
        Sockets Layer (SSL) software, which encrypts information you enter. It's important for
        you to protect against unauthorized access to your password and your computer. Be sure to
        sign off when you've finished using a shared computer.

      h3 Is Information About Me Secure?

      p We store all of our information, including your IP address information, using
        industry-standard techniques. We do not guarantee or warrant that such techniques will
        prevent unauthorized access to information about you that we store, Personal Information
        or otherwise.

      h3 What Choices Do I Have Regarding My Information?

      p You can use many of the features of the Services without registering, thereby limiting
        the type of information that we collect. You can always opt not to disclose certain
        information to us, even though it may be needed to take advantage of some of our
        features.

      h3 How Can I Delete My Account?

      p If you ever decide to delete your account you may email us to #{support_email}

      h3 What Happens When There Are Changes to this Privacy Policy?

      p We may amend this Privacy Policy from time to time. Use of information we collect now
        is subject to the Privacy Policy in effect at the time such information is used. If we
        make changes in the way we collect or use information, we will notify you by posting an
        announcement on our site or sending you an email. A user is bound by any changes to the
        Privacy Policy when he or she uses our Site and Services after such changes have been
        first posted.

      h3 What If I Have Questions or Concerns?

      p If you have any questions or concerns regarding privacy using the Services, please send
        us a detailed message to #{support_email}

      p Effective Date: 10-14-2014
#cta-bg
  #call-to-action.text-center.dark-section
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .row
            .col-sm-7.text-left
              h2.heading.inline-block GET STARTED TODAY!

            .col-sm-5.text-center
              = link_to page_presenter.login_url, class: 'custom-btn btn-blue', target: '_top' do
                i.icon-fb
                = t('pages.index.sign_up')